.sprite {
  background-image: url('../resource/dragones/144x128/red.png');
  background-repeat: no-repeat;
  display: inline-block;
}

.sprite.icon1 {
  width: 144px;
  height: 128px;
  background-position: 0 0; /* Posición de la primera imagen en el sprite sheet */
}

.sprite.icon2 {
  width: 144px;
  height: 128px;
  background-position: -144px 0; /* Posición de la segunda imagen en el sprite sheet */
}

.sprite.icon3 {
  width: 144px;
  height: 128px;
  background-position: -288px 0; /* Posición de la tercera imagen en el sprite sheet */
}

.sprite.icon4 {
  width: 144px;
  height: 128px;
  background-position: 0 -128px; /* Posición de la cuarta imagen en el sprite sheet */
}

.sprite.icon5 {
  width: 144px;
  height: 128px;
  background-position: -144px -128px; /* Posición de la quinta imagen en el sprite sheet */
}

.sprite.icon6 {
  width: 144px;
  height: 128px;
  background-position: -288px -128px; /* Posición de la sexta imagen en el sprite sheet */
}

.sprite.icon7 {
  width: 144px;
  height: 128px;
  background-position: 0 -256px; /* Posición de la séptima imagen en el sprite sheet */
}

.sprite.icon8 {
  width: 144px;
  height: 128px;
  background-position: -144px -256px; /* Posición de la octava imagen en el sprite sheet */
}

.sprite.icon9 {
  width: 144px;
  height: 128px;
  background-position: -288px -256px; /* Posición de la novena imagen en el sprite sheet */
}

.spriteMovimiento,
.spriteMovimiento2,
.spriteMovimiento3 {
  background-image: url('../resource/dragones/144x128/red.png');
  background-repeat: no-repeat;
  width: 144px; /* Ancho de cada sprite individual */
  height: 128px; /* Altura de cada sprite individual */
  position: absolute;
}

@keyframes mover-sprite {
  from { background-position: 0 0px; }
  to { background-position: -432px 0px; }
}

@keyframes mover-sprite2 {
  from { background-position: 0 -128px; }
  to { background-position: -432px -128px; }
}

@keyframes mover-sprite3 {
  from { background-position: 0 -256px; }
  to { background-position: -432px -256px; }
}

@keyframes mover-sprite-arriba {
  from { background-position: 0 0px; }
  to { background-position: -432px 0px; }
}

@keyframes mover-sprite-derecha {
  from { background-position: 0 -128px; }
  to { background-position: -432px -128px; }
}

@keyframes mover-sprite-abajo {
  from { background-position: 0 -256px; }
  to { background-position: -432px -256px; }
}

@keyframes mover-sprite-izquierda {
  from { background-position: 0 -384px; }
  to { background-position: -432px -384px; }
}
